body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100vh; /* Use full viewport height */
  background-color: #e5eff7; /* #e5eff7; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.platform {
  position: absolute;
  background-color: #333;
  /* Default width and height for platforms */
  width: 200px;
  height: 20px;
}

#platform1 {
  bottom: 50px; /* Adjust as needed */
  left: 100px; /* Adjust as needed */
  width: 200px;
}

#platform2 {
  bottom: 150px; /* Adjust as needed */
  left: 300px; /* Adjust as needed */
  width: 150px;
}

#platform3 {
  bottom: 250px; /* Adjust as needed */
  left: 500px; /* Adjust as needed */
  height: 30px;
  width: 300px;
}
/* Add more styling for additional platforms */

#game-container {
  width: 800px;
  height: 600px;
  background-color: #5c94fc;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#kiwi {
  width: 50px;
  height: 50px;
  background-image: url('img/kiwi-bird.png'); /* Change the background image to kiwi */
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease; /* Add a transition for smooth flipping */
}

#day-night-img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.kiwi-flipped {
  transform: scaleX(-1); /* Flip the image horizontally */
}
