.title {
  text-align: center;
  color: red;
}

/* Images main page */

#imagesMain {
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.imagebox {
  position: relative;
  height: 300px;
  width: 300px;
  float: left;
  margin: 10px;
}

.imagebox img {
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.new_image{
  position: relative;
  opacity: 0;
  height: 100%;
  width: auto;
  top: -300px;
  float: left;
}

.imagebox:hover img{
  opacity: 0;
  text-align:justify;
  color:#000000;
  font-weight:700;
  font-family:"Times New Roman", Times, serif;
}

.imagebox:hover .new_image{
  opacity: 1;
  text-align:justify;
  color:#000000;
  font-weight:700;
  font-family:"Times New Roman", Times, serif;
}

.textfield {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* subjects style sheet */

.general {
  position:static;
  width: 100%;
  height: 100px;
  background: #999;
}

html {
  scroll-behavior: smooth;
 }

.item_box{
  padding-top: 80%;
}

 #general, #styles, #about {
   margin-top: 25px;
   padding-bottom: 15%;
   background-color: pink;
 }

.item {
  text-align: center;
  font-size: 25px;
}
