/* Style sheet Wushu Amsterdam

Timo leemans
Quinten Madari
Daphne Laura Schipper

Images by Amber Rijcken

 */

.title {
  text-align: center;
  color: red;
}

/* Images main page */

*{
  margin: 0;
  padding: 0;
}

.body_images{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parentBlock{
  display: flex;
  gap: 30px;
}

.block{
  position: relative;
}

.block img{
  width: 200px;
  height: 200px;
  vertical-align: middle;
}

.block img:nth-of-type(2){
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .2s linear;
}

.block img:nth-of-type(2):hover{
  opacity: 1;
}

/* subjects style sheet */

html {
  scroll-behavior: smooth;
}

#general, #styles, #about {
  margin-top: 25px;
  padding-bottom: 15%;
  background-color: #F7FFD8;
}

.item {
  text-align: center;
  font-size: 25px;
}

.welcome {
  margin: auto;
  width: 70%;
  padding: 20px;
  padding-bottom: 100px;
  text-align: center;
  line-height: 1.5;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
}
